.nav__option {
    width: 50%;
    padding: 1.3em 0;
    color: $lighten-purple;

    cursor: pointer;

    h2 {
        transition: $transition;
    }

    &:hover h2 {
        color: $purple;
    }
}

.nav__line {
    width: 50%;
    height: 2px;
    background: $darken-purple;
    bottom: 0;
    right: 50%;

    transition: $transition;
}

.nav__line-right {
    right: 0%;

    transition: $transition;
}