.btn {
    display: block;
    padding: .8em 4em;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 1.03rem;
    
    cursor: pointer;
}


.btn-1 {
    background: $purple;
    color: white;
    border: 2px solid transparent;

    transition: $transition;

    &:hover {
        background: white;
        color: $purple;
        border: 2px solid $purple;
    }
}

.btn-2 {
    background: white;
    color: $purple;
    border: 2px solid $purple;

    transition: $transition;

    &:hover {
        background: $purple;
        color: white;
    }
}

.btn-disable {
    pointer-events: none;
    opacity: .5;
    cursor: not-allowed;
}