.cuentos-screen_cuentos-container {
    margin-top: 1.5rem;
}

.cuentos-screen_cuento {
    width: 49%;
    background: $lighten-purple;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;

    transition: $transition;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.cuentos-screen_title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (min-width: 600px) {
    .cuentos-screen_cuento {
        width: 32%;
    }
}