//EDIT SCREEN
.edit {
    height: 100vh;
    overflow: hidden;
}

.edit__showsidebar {
    width: 73%;
    margin-right: 0;
    margin-left: auto;
}

//NOTHING SELECTED
.edit__nothing-container {
    background-color: $darken-purple;
    height: 100%;
}

//EDIT NAV
.edit__nav {
    background-color: $darken-purple;
    color: white;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.edit__nav-btn {
    padding: .2rem 1rem;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: $transition;

    &:hover {
        border: 1px solid $purple;
        background: white;
        color: $purple;
    }
}

.edit__nav-btn-delete {
    background-color: red;
    color: white;

    &:hover {
        border: 1px solid red;
        background: white;
        color: red;
    }
}

.edit__nav-foto {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background: $purple;

    i {
        padding: 5px 20px;
        color: white;
        transition: $transition;
    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 400;
        color: white;
        z-index: -1;
    }
    
    &:hover{
        i{
            margin-left: -102%;
        }
        p {
            z-index: 1;
        }
    }
}

//EDIT CUENTO SCREEN
.edit__img {
    max-height: 25vh;
}








