//Colors
$purple: #7C5A9E; 
$lighten-purple: #DAACF9;
$darken-purple: #552B7F;
$super-darken-purple: #29064C;
$black: #464646;
$gray: #E5E5E5;
$line-color: #BABABA;

//Transition
$transition: all .3s ease;